<app-menu></app-menu>
<router-outlet></router-outlet>
<div class="text-layout">
  <h1>{{'hola mundo' | titlecase}}</h1>
</div>
<button pButton (click)="mostrarNombre()" label="Cambiar Nombre"></button>
&nbsp;
<button pButton type="button" label="Click" class="p-button-help" icon="pi pi-bell" iconPos="right"></button>

<p-card [header]="nombre | titlecase" subheader="This is the subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta possimus alias corrupti fugit hic suscipit rem, fugiat ea dolor, ducimus esse, dicta dolores eum. Autem, sed? Quasi, molestias perspiciatis.
</p-card>
