<h1>{{(heroe.id)? 'Editar': 'Nuevo'}}&nbsp;Héroe
    <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px">

    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="row">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.superhero" required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text"  [(ngModel)]="heroe.alter_ego" required>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input matInput type="text"  [(ngModel)]="heroe.first_appearance"  required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text"  [(ngModel)]="heroe.characters"  required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select  [(ngModel)]="heroe.publisher"  required>
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                  {{publisher.desc}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto URL</mat-label>
            <input matInput type="text"  [(ngModel)]="heroe.alt_img"  required>
        </mat-form-field>
        <br>
        <div fxLayout="row">
            <button mat-raised-button color="warn" 
            *ngIf="heroe.id" (click)="borrarHeroe()">
                Eliminar<mat-icon>delete</mat-icon>
            </button>
            <span class="spacer"></span>
            
            <button mat-raised-button color="accent" (click)="guardar()">
                {{(heroe.id)? 'Actualizar': 'Crear'}}
                <mat-icon>how_to_reg</mat-icon>
            </button>
        </div>
       

    </div>

     <div fxFlex="50">
        <img [src]="heroe | imagen" alt=" heroe imagen">
    </div>


</div>