<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select>
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                  {{publisher.desc}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto URL</mat-label>
            <input matInput type="text" required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">
            Guardar<mat-icon>how_to_reg</mat-icon>
        </button>

    </div>

     <div fxFlex="50">
        <img [src]="heroe | imagen" alt=" heroe imagen">
    </div>


</div>