<h1>DBZ Works!!</h1>
<hr>
<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let personaje of personajes">
            <li>{{personaje.nombre}} - {{personaje.poder}}</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3><small>{{nuevo.nombre}}</small>
        <hr>
        <form (ngSubmit)="agregar()">
            
            <input type="text" placeholder="Nombre" name="nombre"
            [(ngModel)]="nuevo.nombre">

            <input type="number" placeholder="Poder" name="poder"
            [(ngModel)]="nuevo.poder">

            <button type="submit" >Agregar</button>
        </form>
    </div>
</div>