/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layout{
    color: var(--text-color);
}

.card-container{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    flex-grow: 1;
    width: 50%;
}