<h2 class="animate__animated animate__fadeIn animate__faster">Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar país...">
        </app-pais-input>
    </div>
</div>
<ul class="list-group" *ngIf="mostrarSugerencias">
    <li *ngFor="let pais of paisesSugeridos"
    class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">
            {{pais.name}}</a>
    </li>
</ul>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró {{termino}}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col table-responsive">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
